$black: #000;
$white: #fff;
$basic-blue:#2B3169;
$orange:#F68522;
$soft-orange:#FDBB4B;
$orange2:#F7942B;
$orange3:#F9A238;
$orange4:#FBAC3F;
$gray:#F0F0F0;
$white05:rgba(255,255,255,0.5);
$violet:#394478;
$softViolet:#DCE1F4;
$gray-placeholder:#999AA3;
$blue005:rgba(43,49,105,0.05);