@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url('../fonts/Firasanssemibold.woff2') format('woff2'), url('../fonts/Firasanssemibold.woff') format('woff'), url('../fonts/Firasanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('../fonts/Firasansmedium.woff2') format('woff2'), url('../fonts/Firasansmedium.woff') format('woff'), url('../fonts/Firasansmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url('../fonts/Firasansmediumitalic.woff2') format('woff2'), url('../fonts/Firasansmediumitalic.woff') format('woff'), url('../fonts/Firasansmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Italic'), local('FiraSans-Italic'), url('../fonts/Firasansitalic.woff2') format('woff2'), url('../fonts/Firasansitalic.woff') format('woff'), url('../fonts/Firasansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'), url('../fonts/Firasansextralight.woff2') format('woff2'), url('../fonts/Firasansextralight.woff') format('woff'), url('../fonts/Firasansextralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url('../fonts/Firasanslightitalic.woff2') format('woff2'), url('../fonts/Firasanslightitalic.woff') format('woff'), url('../fonts/Firasanslightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'), local('FiraSans-Light'), url('../fonts/Firasanslight.woff2') format('woff2'), url('../fonts/Firasanslight.woff') format('woff'), url('../fonts/Firasanslight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Book'), local('FiraSans-Book'), url('../fonts/Firasansbook.woff2') format('woff2'), url('../fonts/Firasansbook.woff') format('woff'), url('../fonts/Firasansbook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'), local('FiraSans-Regular'), url('../fonts/Firasansregular.woff2') format('woff2'), url('../fonts/Firasansregular.woff') format('woff'), url('../fonts/Firasansregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Heavy'), local('FiraSans-Heavy'), url('../fonts/Firasansheavy.woff2') format('woff2'), url('../fonts/Firasansheavy.woff') format('woff'), url('../fonts/Firasansheavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans SemiBold Italic'), local('FiraSans-SemiBoldItalic'), url('../fonts/Firasanssemibolditalic.woff2') format('woff2'), url('../fonts/Firasanssemibolditalic.woff') format('woff'), url('../fonts/Firasanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url('../fonts/Firasansbolditalic.woff2') format('woff2'), url('../fonts/Firasansbolditalic.woff') format('woff'), url('../fonts/Firasansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraLight Italic'), local('FiraSans-ExtraLightItalic'), url('../fonts/Firasansextralightitalic.woff2') format('woff2'), url('../fonts/Firasansextralightitalic.woff') format('woff'), url('../fonts/Firasansextralightitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('../fonts/Firasansbold.woff2') format('woff2'), url('../fonts/Firasansbold.woff') format('woff'), url('../fonts/Firasansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Heavy Italic'), local('FiraSans-HeavyItalic'), url('../fonts/Firasansheavyitalic.woff2') format('woff2'), url('../fonts/Firasansheavyitalic.woff') format('woff'), url('../fonts/Firasansheavyitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'), url('../fonts/Firasansextrabold.woff2') format('woff2'), url('../fonts/Firasansextrabold.woff') format('woff'), url('../fonts/Firasansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Book Italic'), local('FiraSans-BookItalic'), url('../fonts/Firasansbookitalic.woff2') format('woff2'), url('../fonts/Firasansbookitalic.woff') format('woff'), url('../fonts/Firasansbookitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraBold Italic'), local('FiraSans-ExtraBoldItalic'), url('../fonts/Firasansextrabolditalic.woff2') format('woff2'), url('../fonts/Firasansextrabolditalic.woff') format('woff'), url('../fonts/Firasansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mb2jiv');
  src:  url('../fonts/icomoon.eot?mb2jiv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mb2jiv') format('truetype'),
    url('../fonts/icomoon.woff?mb2jiv') format('woff'),
    url('../fonts/icomoon.svg?mb2jiv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow2:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-delivery-man:before {
  content: "\e902";
}
.icon-list:before {
  content: "\e903";
}
.icon-transport:before {
  content: "\e904";
}
.icon-24-hours:before {
  content: "\e905";
}
